#logo {
    width: 475px;
    animation: hw5_move 5s;
}

@keyframes hw5_move {
    from {width: 25px;}
    to {top: 475px;}
}

body {
    font-family: "Poppins", "Serif";
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
}

div.card > header {
    background: #288088;
    border: 2px solid #45adad;
    padding-top: 20px; 
    padding-bottom: 20px;
    border-radius: 50px 50px 0px 50px;
}